*{
	margin: 0;
	padding: 0;
}
body{
	max-width: 800px;
	margin: auto;
	margin-top: 20px;
  background: white;
    
}
.title{
  text-align: center;
  color: black;
}

#headshot {
    width: 100%;
    float: left;
    margin-right: 50px;
  }
  
  #headshot img {
    width: 100%;
    height: auto;
  }

  .details {
    font-style: italic;
    margin-bottom: 3px;
  }

.bac{
    background: dimgray;
}
  table, th, td {
    height: 50px;
    width: 100%;
    border: 1px solid black;
    padding: 5px;
    text-align: left;
  }